    {{!-- Edit Post Form --}}
<article class="m-3">
    <a href="/dashboard" class="btn btn-outline-secondary">&larr; Back to dashboard</a>

    <h2 class="m-3">Edit A Post</h2>

    <form class="edit-post-form">
            {{!-- Post title --}}
        <div class="mb-4">
            <p id="postTitleHeader" class="m-3">Post Title</p>
            <input type="text" name="post-title" value="{{post.title}}" class="form-control" id="postTitle"/>
        </div>

            {{!-- post_content --}}
        <div class="mb-3">
            <p id="postTitleHeader" class="m-3">Post Content</p>
            <textarea name="post_content" class="form-control">{{post.post_content}}</textarea>
        </div>

            {{!-- Comments/date_created --}}
        <div>
            <p class="fst-italic">Posted by you on {{format_date post.created_at}}</p>
            <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
        </div>

            {{!-- Buttons --}}
        <button type="submit" class="btn btn-secondary mt-2">Save Post</button>
        <button type="button" class="delete-post-btn btn btn-danger mt-2">Delete Post</button>
    </form>
</article>

    {{!-- Comment Form --}}
<form class="comment-form">
    <div class="ms-4 form-floating">
        
        <textarea name="comment-body" class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 100px"></textarea>
        <label for="floatingTextarea">Add a comment here:</label>
    </div>

    <div class="ms-4 mt-2">
        <button type="submit" class="btn btn-secondary">add  comment</button>
    </div>
</form>

{{> comments post.comments}}

{{#if logged_in}}
<script src="/js/comment.js"></script>
<script src="/js/delete_post.js"></script>
<script src="/js/edit_post.js"></script>
{{/if}}